.customThemeContainer{
    width: 50vw;
    height: 100dvh;
    position: fixed;
    max-height: 100%;
    transition: .3s;
    left:200%;
}

.customThemeContainer
.customThemeContainer[open].customThemeContainer--closing{
  position: fixed;
  transition: .3s;
  margin: 0;
  margin-left: auto;
  min-height: 100vh;
  width: 400px;
  max-width: 80%;
  transform: translateX(100%);
  left:200%;
}
.customThemeContainer[open] {
  display: flex;
  margin: 0;
  margin-left: auto;
  flex-direction: column;
  transform: translateX(0);
  transition: .3s;
  left:100%;
}

.close-dialog {
  margin-left: auto;
}
dialog::backdrop {
    backdrop-filter: blur(3px);
    transition: .3s;
  }
  

.customThemeContainer{
    background-color: darkolivegreen;
    transition: .3s;
  }
  .customThemeContainer ul {
    padding-left: 0;
    list-style: none;
  }
  .customThemeContainer li + li {
    border-top: 1px solid white;
  }
  .customThemeContainer a {
    display: block;
    padding-block: 1rem; 
    text-decoration: none;
    color: white;
  }